.mainbody
{
    background: url(../../assets/dark_food_bg.jpg);
    text-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.9);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: medium;
    padding: 10px;
}

#termsandconditions_list
{
    
    margin: 15px;
    padding: 20px;
}


.glass
{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 10px;
}

li
{
    margin: 5px;
}