<div class="mainbody">
<div class="container">

<div class="glass">
<h1>Privacy Policy for "Book My Meal"</h1>

<div>
    <p>
        This Privacy Policy describes how <b>BOOK MY MEAL</b> collects, uses, and shares information about users of the
        "Book My Meal" application. By using the App, you agree to the terms of this Privacy Policy.
    </p>
<div>

<div id="privacypolicy_list">

            <ol type="1" class="list-group">

                <li>Information We Collect</li>
                <ul type="disc">
                    <li>Personal Information: When you create an account, we collect information such as your name,
                        email address, phone number, and payment details.</li>
                    <li> Order Information: We collect information about the meals you order, including the restaurant,
                        order details, and payment information.</li>
                </ul>

                <li>How We Use Your Information</li>
                <ul type="disc">
                    <li>Order Fulfillment: We use your personal information to process and fulfill your meal orders.</li>
                    <li>Account Management: Your information is used for managing your account, providing customer support, and communicating with you.</li>
                    <li> Improving Services: We may use aggregated and anonymized data to analyze user behavior and enhance our services.</li>
                </ul>

                <li>Sharing Your Information</li>
                <ul type="disc">
                    <li>Legal Requirements: We may disclose your information if required by law or in response to a court order.</li>
                </ul>

                <li>Your Choices</li>
                <ul type="disc">
                    <li>Account Information: You can review and update your account information through the App.</li>
                </ul>

                <li>Security</li>
                <ul type="disc">
                    <li>We take reasonable measures to protect your information from unauthorized access or disclosure.</li>
                </ul>

                <li>Changes to this Privacy Policy</li>
                <ul type="disc">
                    <li>We reserve the right to update this Privacy Policy. Any changes will be effective upon posting the updated policy in the App.</li>
                </ul>

            </ol>

</div>

<div>
    <h2>Contact Us</h2>
    <p>
        If you have any questions or concerns about this Privacy Policy, please contact us at bookmymeal@gmail.com.
    </p>
</div>

</div>

</div>
</div>