<div class="mainBody">
<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar> -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="EMPLOYEEID">
      <th mat-header-cell *matHeaderCellDef>EMPLOYEEID</th>
      <td mat-cell *matCellDef="let row"> {{row.EMPLOYEEID}} </td>
    </ng-container>
  
    <!-- FirstName Column -->
    <ng-container matColumnDef="FIRSTNAME">
      <th mat-header-cell *matHeaderCellDef>FIRSTNAME</th>
      <td mat-cell *matCellDef="let row"> {{row.FIRSTNAME}} </td>
    </ng-container>

    <ng-container matColumnDef="LASTNAME">
      <th mat-header-cell *matHeaderCellDef>LASTNAME</th>
      <td mat-cell *matCellDef="let row"> {{row.LASTNAME}} </td>
    </ng-container>

    <ng-container matColumnDef="GENDER">
      <th mat-header-cell *matHeaderCellDef>GENDER</th>
      <td mat-cell *matCellDef="let row"> {{row.GENDER}} </td>
    </ng-container>

    <ng-container matColumnDef="DOB">
      <th mat-header-cell *matHeaderCellDef>DOB</th>
      <td mat-cell *matCellDef="let row"> {{row.DOB}}  </td>
      <!-- <td mat-cell *matCellDef="let row"> {{row.DOB | date:'dd-MM-yyyy'}}  </td> -->
      <!-- <td mat-cell *matCellDef="let row"> {{row.dob | date:'yyyy-mm-dd'}}  </td> -->
    </ng-container>

    <ng-container matColumnDef="EMAIL">
      <th mat-header-cell *matHeaderCellDef>EMAIL</th>
      <td mat-cell *matCellDef="let row"> {{row.EMAIL}} </td>
    </ng-container>

    <ng-container matColumnDef="PHONENUMBER">
      <th mat-header-cell *matHeaderCellDef>PHONENUMBER</th>
      <td mat-cell *matCellDef="let row"> {{row.PHONENUMBER}} </td>
    </ng-container>

    <ng-container matColumnDef="DEPTID">
      <th mat-header-cell *matHeaderCellDef>DEPTID</th>
      <td mat-cell *matCellDef="let row"> {{row.DEPTID}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   </table>
  </div>